/* Prevent shifting left when scrollbar appears
Keeps filter results stationary when adding/removing filters
*/
html {
    overflow-y: scroll;
  }

.category {
    background-color: rgb(31, 70, 106); /* TODO: Sass variables */
    padding: .6em;
    min-width: 50px;
    font-size: 60.1%;
    font-weight: normal
}

.foodCard {
    background-color: rgb(213, 239, 167);
}

.foodCard:hover {
    filter: invert(100%); /* TODO: match colors time permitting */
}

.foodTitle {
    color: #1f466a;
    font-size: 2.05rem;
}

.categoryTableHeader {
    font-size: 0.65rem;
    font-weight: 600;
    padding-right: 10px;
}

.categoryTableRow {
    font-weight: bold;
    color: rgb(31, 70, 106); 
    font-size: large
}

.foodDescription {
    font-size: smaller;
}
  
#filterTable td {
     color: #1f466a;
    font-size: 1.5rem;   
}

.form-group input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.form-group input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control {
    margin-bottom: 7%
}