.category {
    background-color: rgb(31, 70, 106); /* TODO: Sass variables */
    padding: .6em;
    min-width: 50px;
    font-size: 60.1%;
    font-weight: normal
}

.foodCard {
    background-color: rgb(213, 239, 167);
}

.foodCard:hover {
    filter: invert(100%); /* TODO: match colors time permitting */
}

.foodTitle {
    color: #1f466a;
    font-size: 2.05rem;
}

.categoryTableHeader {
    font-size: 0.65rem;
    font-weight: 600;
    padding-right: 10px;
}

.categoryTableRow {
    font-weight: bold;
    color: rgb(31, 70, 106); 
    font-size: large
}

.foodDescription {
    font-size: smaller;
}
  
#filterTable td {
     color: #1f466a;
    font-size: 1.5rem;   
}
